<!DOCTYPE html>
<html dir="rtl" >
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script defer src="~/Scripts/products.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div >
            @RenderBody()
        </div>
    </div>
</body>
</html>
