<!DOCTYPE html>
<html dir="rtl" >
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script defer src="~/Scripts/products.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div >
            @RenderBody()
        </div>
    </div>
</body>
</html>
